{% extends 'webApp/layout.html' %}
{% block content %}
<main id="main-poll-pseudo">
    {% include 'webApp/include/header.html' %}
    <section>
        <form action="{{urlPost}}" method="POST">
            {% csrf_token %}
            <label for="name">Choose a username:</label>
            {{ form.name }}
            <div class="center">
                <input type="submit" value="Let's go">
            </div>
        </form>
        <div class="center" id="or">or</div>
        <div class="center" id="login">
            <a href="/" class="button">Login to an account</a>
            <div>
                <span class="github icon-button">
                    <div class="icone small-icone"></div>
                </span>
                <span class="air-eisti icon-button">
                    <div class="icone small-icone"></div>
                </span>
                <span class="tumblr icon-button">
                    <div class="icone small-icone"></div>    
                </span>
                <span class="arel icon-button">
                    <div class="icone small-icone"></div>    
                </span>
            </div>
        </div>
    </section>
</main>

{% endblock %}