{% extends 'webApp/layout.html' %}
{% block content %}
<main id="main-poll-pseudo">
    <h1>Poll-n</h1>
    <div id="main-description">
        Create poll for everybody
        <br/>
        <img src="/static/webApp/imgs/logo-tmp.png"/>

    </div> 
    <section>
        <form action="{{urlPost}}" method="POST">
            {% csrf_token %}
            <label for="name">Write your username:</label>
            {{ form.name }}
            <div class="center">
                <input type="submit" value="Let's go">
            </div>
        </form>
        <div class="center" id="or">or</div>
        <div class="center" id="login">
            <a href="/" class="button">Login to an account</a>
            <div>
                <span class="github icon-button">
                    <div class="icone small-icone"></div>
                </span>
                <span class="air-eisti icon-button">
                    <div class="icone small-icone"></div>
                </span>
                <span class="tumblr icon-button">
                    <div class="icone small-icone"></div>    
                </span>
                <span class="arel icon-button">
                    <div class="icone small-icone"></div>    
                </span>
            </div>
        </div>
    </section>
</main>

{% endblock %}