{% extends 'webApp/layout.html' %}
{% block content %}
<main id="home-main">
    <h1>Poll-n</h1>
    <div id="main-description">
        Create poll for everybody
        <br/>
        <img src="/static/webApp/imgs/logo-tmp.png"/>

    </div> 
    <div class="center">
    <a href="/logout" class="button logout">Logout</a>
    </div>
    <h2>My poll</h2>
    {% for poll in user.question_set.all%}
        <a href="/poll/{{poll.token_admin}}" class="poll">
            <h3>{{poll.title}}</h3>
        </a>
    {% endfor %}
    <a href="/poll" class="poll poll-create">
            <h3>Create new poll</h3>
    </a>
    <h2>Poll I participate</h2>
    {% for poll in user.participateTo.all%}
        <a href="/poll/{{poll.token}}" class="poll poll-participate">
            <h3>{{poll.title}}</h3>
        </a>
    {% endfor %}
</main>
{% endblock %}