{% extends 'webApp/layout.html' %}
{% block content %}
<main id="poll-main">
    <h1>Poll-n</h1>
    <div id="main-description">
        Create poll for everybody
        <br/>
        <img src="/static/webApp/imgs/logo-tmp.png"/>

    </div> 
    {%if admin%}
    <div class="link">
        <div><label>Lien :</label> http://localhost:8000/poll/{{question.token}}/</div>
        <div><label >Lien admin:</label> http://localhost:8000/poll/{{question.token_admin}}/</div>
    </div>
    {%endif%}
    <div id="content-scretch">
        <section class="container">
            <h2 id="title">{{question.title}}</h2>
            <div id="description">{{question.description}}</div>
            <div id="list-answer">
            {% for answer in list_answer %}
                <div class="line-answer">
                    <div class="remplissage remplissage-middle"></div>
                    <div class="content"><input type="checkbox" id='answer{{answer.pk}}radio'><label for='answer{{answer.pk}}radio' class="radio"></label>{{answer.title}}</div>
                </div>
                <div class="list-users"></div>
            {% endfor %}
            </div>
            <input type=text placeholder="add answer" id="answer-input"/><input type="button" value="+" id="answer-submit">
            
        </section>
        <aside class="container">
            <h2>Options</h2>
                <div class="line"><input type="checkbox"><label class="radio option"></label>Anonymous users can add answer</div>
                <div class="line"><input type="checkbox" checked><label class="radio option"></label>Anonymous users can answer</div>
                <div class="line"><input type="checkbox"><label class="radio option"></label>Anonymous users can delete anonymous choice</div>                
            <h2>Stats</h2>
                <div class="line">Nombre de votants : 7</div>
                <div class="line">Best : 5/7</div>
        </aside>
    </div>
    <script>var poll_token = "{{token}}"; var is_admin = ("{{admin}}" == "True") </script>
    <script src="/static/webApp/js/webSocket-poll.js"></script>
</main>
{% endblock %}