#home-main
    display block !important
    padding 15px
    width auto
    h2
        margin: 15px;

    .poll
        width 200px
        height 200px
        
        display inline-block
        margin: 10px;
        padding: 10px;
        display inline-flex
        justify-content center
        align-items center
        text-align center
        background-color rgba(255,255,255,0.5)

        border:2px solid black
        border-image-source: main-gradient
        border-image-slice 1
        border-image-width 2
        border-image-repeat: round
        border-image-outset: 1
        vertical-align middle
        color:black
        text-decoration none

    .poll-participate
        border-image-source: linear-gradient(to left, #f4b0b0, #b86de3);

    .poll-create
        border-image-source: default-gradient
        color:black
        text-decoration underline

    .logout
        background linear-gradient(to left,#A199B6,#8070AE)
        color:white !important
        