#index-main
    #or-login
        height auto
        line-height 1em
        padding 0
        width 200px
        border none
        margin 40px auto
        
    .content
        display block 
        
        section
            margin auto 
    
    