#index-main
    .content
        display flex
        align-items center
        justify-content space-around

    #logo-arel
        margin auto 
        width 150px
        height 150px
        border-radius 170px
        border 1px solid light
        margin-bottom 40px

    section 
        width 300px

    #or-login
        width 200px
        text-align center
        border-color:black
        border-top 1px solid
        border-bottom 1px solid
        padding: 20px 0;
        font-size: 2em;
        font-weight: 800;
        font-family renogare
    
    input[type=text],input[type=password]
        border: none;
        border-bottom: 1px solid light;
        margin 20px 0px
        background-color transparent

    label
        display block
        text-align center
        color:light

    #external-login
        margin-top 10px

    
        