#index-main
    .content
        display flex
        align-items center
        justify-content space-around

    #logo-arel
        margin auto 
        width 150px
        height 150px
        border-radius 170px
        border 1px solid light
        margin-bottom 40px

    section 
        width 300px

    #or-login
        width 200px
        text-align center
        border-color:black
        border-top 1px solid
        border-bottom 1px solid
        padding: 20px 0;
        font-size: 2em;
        font-weight: 800;
        font-family renogare
    
    input[type=text],input[type=password]
        display: block;
        background-color: transparent;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid light;
        width: 100%;
        margin 20px 0px
        color:black

    label
        display block
        text-align center
        color:light

    #external-login
        margin-top 10px

    .air-eisti
        .button 
            background: air-eisti-gradient
        .icone
            background-image url('/static/webApp/imgs/air.png')
            border-image-source air-eisti-gradient
    .arel
        .button 
            background: arel-gradient
        .icone
            background-image url('/static/webApp/imgs/arel.svg')
            border-image-source arel-gradient     
    .github
        .button 
            background: github-gradient
        .icone
            background-image url('/static/webApp/imgs/github.png')
            border-image-source github-gradient

    .tumblr
        .button 
            background: tumblr-gradient
        .icone
            background-image url('/static/webApp/imgs/tumblr.png')
            border-image-source tumblr-gradient  
        