.air-eisti
    .button 
        background: air-eisti-gradient
    .icone
        background-image url('/static/webApp/imgs/air.png')
        border-image-source air-eisti-gradient
.arel
    .button 
        background: arel-gradient
    .icone
        background-image url('/static/webApp/imgs/arel.svg')
        border-image-source arel-gradient     
.github
    .button 
        background: github-gradient
    .icone
        background-image url('/static/webApp/imgs/github.png')
        border-image-source github-gradient

.tumblr
    .button 
        background: tumblr-gradient
    .icone
        background-image url('/static/webApp/imgs/tumblr.png')
        border-image-source tumblr-gradient  