light = rgb(120,120,120)
back-color = rgba(240,240,245,0.9)
main-color = #80c1fe
main-gradient = linear-gradient(to left,#08EAE2,#08AEEA)

air-eisti-gradient = linear-gradient(to left,#08EAE2,#08AEEA)
arel-gradient = linear-gradient(to left,#A199B6,#8070AE)
tumblr-gradient = linear-gradient(to left,#F4B0B0,#B86DE3)
github-gradient = linear-gradient(to left,#F6C236,#F68C36)

default-gradient = linear-gradient(to left,#97E56A,#1DAE3B)

@font-face {
    font-family: renogare;
    src: url("/static/webApp/fonts/renogare_soft/RenogareSoft-Regular.ttf");
}
.renogare {
    font-family: renogare;
}

@font-face {
    font-family: arimo;
    src: url("/static/webApp/fonts/arimo/Arimo-Regular.ttf");
}
.arimo {
    font-family: arimo;
}

html
    background-image url('/static/webApp/imgs/draw.png')
    background-size cover
body,html
    width 100%
    height 100%
    margin 0
    padding 0
    font-family arimo
    color:black
    font-size 14px

body
    
    display flex;
    flex-direction column

main
    width 100%
    flex:1
    display flex;
    flex-direction column
    background-color back-color

footer
    background-color rgba(0,0,0,0.5)
    padding 15px
    color:white
    font-size 1.1em

#content-scretch
    display flex
    align-items stretch
    flex 1
    margin 0 50px
    justify-content:space-around

.container
    margin 20px
    padding: 10px;
    max-width: 1000px;

h2,h1,h3,p
    margin 0

a,a:visited
    color #08eae2;

h1
    padding-top 20px
    font-family renogare
    text-align center
    font-size 2.5em

#main-description
    text-align center
    color:black
    text-decoration none
    img
        height 120px

.center
    text-align center
    margin-left auto !important
    margin-right auto !important

#error
    display none
    padding: 10px;
    background-color: rgba(255,100,0,0.8);
    color: white;
    font-weight: 800;
    font-size: 1.1em;
    position: absolute;
    top: 0px;
    width: calc(100% - 20px);

.icon-button

    .icone,.big-icone
        display inline-block
        vertical-align middle
        background-size cover
        border: 4px solid transparent;

    .big-icone
        height 150px
        width 150px
        border-radius 200px
        
        border-image-slice 1
        border-image-width 2
        border-image-repeat: round
        border-image-outset: 1
        margin 35px

    .small-icone
        height 50px
        width 50px
        border-radius 200px
        border-image-slice 1
        border-image-width 1
        border-image-repeat: round
        border-image-outset: 1
        margin 10px
        margin-left 5px

    .none
        border none
        background none
        margin 14px



    
@import "./input.styl"
@import "./index.styl"
@import "./poll.styl"
@import "./home.styl"
@import "./poll-pseudo.styl"
@import "./logo-color.styl"


@media only screen and (max-width: 1100px) {
    @import "./index-tablette.styl"
}

@media only screen and (max-width: 800px) {
    @import "./index-mobile.styl"
}