#main-poll-pseudo
    form
        width: 400px;
        margin: auto;
        padding 20px
        margin-top 50px

    label 
        font-size 1.2em

    input[type=submit]
        margin-top:10px

    #or
        font-family renogare
        font-family: renogare;
        font-size: 1.5em;
        padding: 40px 0 0px 0;
        font-weight: 800;

    #login
        padding: 10px;

    #login a
        background arel-gradient
        color white !important