#poll-main
    background-color rgba(240,240,245,0.98)
    .link
        display flex
        justify-content center
        flex-wrap wrap
        div
            margin 10px
            font-size 1.1em
    section
        flex 1

        h2.editable
            border-bottom 2px solid light

        #description.editable
            border 2px solid light
        #answer-input
            height: 50px;
            margin: 0;
            padding: 0 5px;
            background-color: white;
            border: 1px solid light;
            display: inline-block;
            width: calc( 100% - 74px);
            color black

        #answer-submit
            width 52px
            height 52px
            border:1px solid light
            display: inline-block;
            background-color: white;
            color: black;
            margin-left: 10px;

        .list-users 
            min-height 40px
            .user
                color white
                margin 0 15px 8px 0px
                min-width 70px
                display inline-block
                background-color blueviolet
                padding 0px 5px
                /*background: linear-gradient(to top left, #D9AFD9, #97D9E1);*/
                border-radius 2px
                
                height 30px

                display: inline-flex;
                justify-content: left ;
                align-items:center

                vertical-align middle

            .user::first-letter
                color:red !important

            .list-login-user .user::before
                content " "
                display inline-block
                vertical-align middle
                margin-right 10px
                height 20px
                width 20px
                background-image url('/static/webApp/imgs/check.svg')

                
    aside
        width 400px

        .line
            padding 10px 3px
            font-size 1.1em
        
        h2
            margin-top 20px
            margin-bottom 10px

        .marks
            display flex

            .mark
                flex:1
                margin 5px
                text-align center

                .number-info
                    font-size 2em
                    color main-color

                .description-info
                    img
                        height: 1.5em;
                        vertical-align: middle;
                        margin-right: 10px;

        input + label
            border-color:main-color

        input:checked + label
            background-color main-color

    #description
        line-height: 1.5em;
        color: rgb(50,50,50);
        margin: 10px 0;
        text-align: justify;
        min-height: 50px;
        color:light

    .line-answer
        background-color: rgb(230,230,230);
        
        margin 3px 0
        position relative
        z-index 2
        height 50px

        .remplissage
            position absolute
            left 0px
            top 0px
            height 100%
            z-index 0
            width 45%
            background:  linear-gradient(to left,#80C1FE,#80C1FE, #5268FF);
        
        .content
            z-index 2
            position absolute
            left 0px
            top 0px
            padding:0 10px;
            width 100%
            top: 50%;
            transform:translateY(-50%);
            font-weight 800

        .delete
            height 100%
            position absolute
            left -50px

    

